<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">ADMIN HOME</h1>
    <a href="/profile">upload profile</a>
    <a href="/viewuser">view user</a>
    <a href="/category">manage category</a>
    <a href="/adminservice">manage service</a>
    <a href="/adminviewbooking">view booking</a>
    <a href="/admin_work">upload works</a>
    <a href="/admin_view_feedback">view feedback</a>
    
</body>
</html>