<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        {% for row in view %}

        <tr>
            <td>
                <video controls>
                    <source style="height: 100;width: 100;"src="/static/{{row.ufile}}" type="video/mp4" download>download
            </td>
            
        </tr>
        {%endfor%}

    </table>
    
</body>
</html>